@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

html {
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  /* background-color: #16202a; */
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
:root{
  --purple-color: #8855FF;
  --blue-color: #83CBFF;
  --sky-color: #00CCFF;
  --green-color: #00CC88;
  --yellow-color: #FFCC00;
  --red-color: #FF2B56;
  --dark-bg-image: linear-gradient(-121deg, #222222, #2B2B2B);
  --dark-bg-image-hover: linear-gradient(-121deg, #414141, #2B2B2B);
  --bg-color: #1E2023;
  --sub-bg-color: #181818;
  --title-size:calc(12px + 5vw);
  --subtitle-size:calc(5px + 2vw);
}
/* 
.site-container{
  width: 100vw;
} */
  
button {
  background-image: linear-gradient(to right, #12AAF3 0%, #12D8FA  51%, #2CDAB8  100%);
  padding: 12px 20px;
  text-align: center;
  font-size: large;
  /* text-transform: uppercase; */
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 10px;
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  min-width: 150px;
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #000;
  text-decoration: none;
}

a{
  /* display: flex; */
  text-decoration: none;
  color: #000;
  font-size: large;
  transition: 0.5s;
  /* justify-content: center;
  align-items: center; */
}

a:hover{
  color: var(--sky-color);
}

.subtitle{
  text-align: center;
  color: #000;
  font-size: x-large;
  max-width: 900px;
  padding: 10px;
}

h1{
  font-size:70px ;
  color: #000;
}

h1 strong{
  font-weight: bolder;
  color: greenyellow;
}

.space{
    height: 50px;
}

.container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.smooth-border{
  border-radius: 10px;
}

.cards-holder{
  /* margin-top: 20px; */
  padding: 50px 20px 0px 20px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;

  border: #eeeeee solid 1px;
    border-radius: 12px;
}

.card{
  display: flex;
  flex-flow: column;
  /* justify-content: space-around; */
  align-items: center;
  width: 300px;
  height: 350px;
  /* background-color: #213040; */
  margin: 10px;
  padding: 10px;
  color: #000;
  border-radius: 10px;
  border: #eeeeee solid 1px;
  border-radius: 12px;
  background-image: radial-gradient( circle 1259px at 2.8% 48.8%,  rgba(255,243,110,1) 0%, rgba(30,204,214,1) 45.6%, rgba(5,54,154,1) 65.9% );
  box-shadow: 1px 1px 18px 1px rgba(0, 0, 0, 0.18);
  transition: 0.5s;
  cursor: pointer;
}

.card:hover{
  transition: 0.5s;
  background-image: radial-gradient( circle 1259px at 2.8% 48.8%,  rgba(255,243,110,1) 10%, rgba(30,204,214,1) 45.6%, rgba(5,54,154,1) 65.9% );
}
.card img{
  width: 50px;
  margin-bottom: 10px;
}

.card p{
  color: #5d6a79;
}

.cover-image{
  width: 100%;
  border-radius: 45px;
  padding: 21px;
}

.proc-image{
  width: 100%;
  max-width: 800px;
}

.end-card{
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  /* max-width: 1100px; */
  min-height: 200px;
  padding: 50px 150px;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: #202020; */
  border: #eeeeee solid 1px;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  border-radius: 20px;
  background-image: url("~assets/diagram-bg.svg");
}

.end-card h2{
  font-size: 50px;
  max-width: 800px;
  background-color: #fdfdfda2;
  border-radius: 20px;
  margin: 10px;
}

.thecard{
  cursor: pointer;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  margin-bottom: 40PX;
  
}

.thecard img{
  width: 50px;
  /* margin-bottom: 30px; */
  transition: 0.8s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover{
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .thefront{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 1px 1px 18px 1px rgba(0, 0, 0, 0.18);
  color: #000;
}

.bottom-place{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 5px;
  /* background-color: #00CC88; */
}
/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  color: #333;
  background-image: radial-gradient( circle 780.6px at 10% 20%,  #85ffbd 0%, #fffb7d 90.7% );
  text-align: center;
  transform: rotateY(180deg);
  box-shadow: 1px 1px 18px 1px rgba(0, 0, 0, 0.18);
}

.gradient-text{
  /* font-size: 72px; */
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
background-size: 200% 200%;
animation: gradient 15s ease infinite;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-position: 50% 50%;
}

/* @keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
} */


.line-box{
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border: #eeeeee solid 1px;
  border-radius: 12px;
  padding: 10px;
  background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}

.media-box{
  display: flex;
  width: 70vw;
  justify-content: center;
  align-content: center;
  /* flex-flow: column; */
  margin-bottom: 50px;
  background-color: white;
}

.mid-card{
  padding: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 90%;
  /* z-index: -2; */
  border-radius: 12px;
}

.mid-card img{
  position: absolute;
  width: 92%;
}

@media screen and (max-width: 800px){
    h1{
      font-size: 50px;
    }
    .space{
      height: 50px;
    }

    .end-card{
      justify-content: center;
      height: 400px;
      padding: 10px;
    }

    .proc-image{
      width: 100%;
    }

    .media-box{
      width: 100vw;
    margin-bottom: 5px;

    }

    .cards-holder{
      justify-content: center;
      padding: 30px 0px;
    }

    .mid-card{
      padding: 2px;
    }



    .end-card h2{
      font-size: 20px;
      max-width: 800px;
      width: 100%;
      background-color: #fdfdfda2;
      border-radius: 20px;
      margin: 10px;
    }

    
    
}